.search {
  font-size: 16px;
  width: 70%;
  height: 40px;
  border-radius: 7px;
  padding-left: 20px;
  margin-right: 5px;
  padding-right: 40px;
  background-color: #d9d7e0;
  color: #1f1b2e;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #fff;
  }
}
.form {
  width: 50%;
  margin-bottom: 40px;
}
.btn {
  position: absolute;
  left: 1025px;
  bottom: 530px;
  color: gray;
}
.icon {
}

.title {
  margin-top: 30px;
}
